__pycache__/
.vscode/
.claude/
.cursor/
.ipynb_checkpoints/
build/
*.egg-info/
dump/
out/
archive/
tests/
logs/
log/
temp/
temp*/
temp*.*
*.log
*.txt
*.npz
*.pth
*.csv
*.zip
*.so
*.tar*
*.vsix
CLAUDE.md
