plyfile
ipython
numpy
matplotlib
Pillow
opencv-python
imageio
imageio-ffmpeg
pytorch-msssim
lpips
einops
safetensors
accelerate
transformers
diffusers
peft
sentencepiece
ftfy
easydict
omegaconf
decord
deepspeed
qwen-vl-utils[decord]
